.nyc_output
.DS_Store
*.log
.vscode
.idea
thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

npm-debug.log
yarn-error.log

node_modules
/coverage
/compiled
/build
.awcache
.rpt2_cache
