@require '~small-flexgrid/src/mixins';
@require "~@/themes/default/variables";

+media($sizes.xl)
  // media queries

+media($sizes.md, $sizes.xl)
  // media queries (from, to)

+media($sizes.lg)
  // media queries

+media($sizes.all, $sizes.md)
  // media queries
