.text
  color rgba(0, 0, 0, 0.87)

.text.size-big
  font-size 1.125rem

.text.size-full
  font-size 1rem

.text.size-small
  font-size 0.875rem

.text.bold
  font-weight 500

.text.normal
  font-weight normal

.text.light
  color rgba(0, 0, 0, 0.54)

.ovh
  overflow hidden
